.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navabar  */
.top-nav {
  background-color: white;
  height: 10vh;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 30px;
}

.countries {
  width: 20%;
  padding: 5px;
}

.countries * {
  margin-left: 30px;
  border-radius: 80px;
}

/* BodyWrapper */
.body-wrapper {
  display: flex;
}

/* LeftPanel */
.panel-wrapper {
  width: 15%;
  height: 90vh;
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panel-buttons button {
  width: 80%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  /* box-shadow: 5px 5px 15px grey; */
}

/* ContentWrapper */
.content-wrapper {
  /* background-color: aliceblue; */
  width: 85%;
}

.annotation-wrapper {
  width: 10%;
}
.a-list {
  width: 100%;
  height: 500px;
}
.annotation-item {
  border: 1px solid silver;
  width: 120px;
  border-radius: 10px;
  word-wrap: normal;
}

/* Imports */
.imports-charts-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.selectors {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.sankey-chart-wrapper {
  width: 500px;
  height: 500px;
}
.pie-chart-wrapper {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
}
